---
import Button from "./Button.astro";
const { headline, text, img, btext, alt } = Astro.props;
---

<div class="con">
  <img src={img} alt={alt} />
  <h3>{headline}</h3>
  <p>{text}</p>
  <div class="right">
    <Button title={btext} />
  </div>
</div>

<style>
  .con {
    display: flex;
    flex-direction: column;
    max-width: 546px;
    max-height: 585px;
  }

  .right {
    display: flex;
    justify-content: end;

  }

  .con p {
    height: 135px;
  }
  img {
    width: 100%;
  }

  @media (max-width: 800px) {
    .right {
      justify-content: center;
      display: block;
    }
  }
</style>
